.page {
  min-height: 100vh;
  background: #F8F8F8;
  padding-top: 80px;
}

.page__container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.page__container_size_middle {
  max-width: 900px;
}

@media screen and (max-width: 400px) {
  .page__container {
    padding: 0 10px;
  }
}