.btn {
  display: inline-block;
  border: none;
  outline: none;
  background: none;
  text-align: center;
  cursor: pointer;
}

/* common */

.btn_type_common {
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.2s opacity;
  font-size: 15px;
  line-height: 16px;
  font-variant: small-caps;
  text-transform: uppercase;
  color: #fff;
}

.btn_type_common:hover, .btn_type_common:focus {
  opacity: 0.8;
}

/* btn_type_default */

.btn_type_default {
  padding: 10px 20px;
  background: #FFFFFF;
  color: #4A4A4A;
  font-size: 18px;
  line-height: 20px;
  font-variant: small-caps;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.btn_type_default:hover, .btn_type_default:focus {
  background-color: #aeffc7;
}

.btn:disabled {
  opacity: 0.7;
  pointer-events: none;
}

.btn_theme_red {
  background: #EF6B6B;
}